<h1>BRENDA WAFULA</h1>

<img src="assets/images/prof2.png" width="150" height="150" class="center">
<h2>+254 757 211 205.<a href="mailto:wotiabrenda25@gmail.com.com">wotiabrenda25@gmail.com</a></h2>


<p>Highly motivated software developer and partialy a web designer.</p>

<a href="https://web.facebook.com/?">
<img src="assets/images/facebook.svg" >
</a>

<a href="https://www.linkedin.com/feed/">
    <img src="assets/images/linkedin.svg" >
    </a>
    
    <a href="https://github.com/">
        <img src="assets/images/github2.svg">
        </a>
    
        
    
        

