
<h1>PARENTING APP</h1>
<p>Is all about parenting tips on how parents should take care of their teenagers and manage the family budgtes.</p>

<h2>COVID-19 WEBSITE</h2>
<p>Its about how we should take the control measures during this covid pandemic.</p>

<h3>SOMA NYUMBANI WEBSITE</h3>
<p>Contains the teachings children should undertake during the covid pandemic holiday.</p>

<h4>MANOR HOUSE AGRICULTURAL CENTER</h4>
<p>Contains the place where data of daily products should be recorded and where to do some calculations.</p>