<div id="website-container">
  <app-sidebar></app-sidebar>
  <div id="page-content">
    <a id="about"></a>
    <section class="section">
      <app-about></app-about>
    </section>
    <a id="skills"></a>
    <section class="section">
      <app-skills></app-skills>
    </section>
    <a id="contact"></a>
    <section class="section">
      <app-contacts></app-contacts>
    </section>
    <a id="experience"></a>
    <section class="section">
      <app-experience></app-experience>
    </section>
    <a id="projects"></a>
    <section class="section">
      <app-projects></app-projects>
    </section>
    <a id="educations"></a>
    <section class="section">
      <app-education></app-education>
    </section>
    <a id="interests"></a>
    <section class="section">
      <app-interests></app-interests>
    </section>
    <a id="awards"></a>
    <section class="section">
      <app-awards></app-awards>
    </section>
  </div>
</div>
