.sidebar {
    background: darkred;
    color: white(35, 247, 7);
    width: 200px;
    height: 100vh;
}

.links {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}